# This workflow will upload a Python Package using Twine when a
# release is created.  For more information see:
# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Publish GCPy to PyPI as geoschem-gcpy

on:
  release:
    types: [published]

jobs:

  deploy:

    permissions:
      id-token: write
      contents: read

    runs-on: ubuntu-latest

    steps:

      - name: Checkout GCPy code
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Build GCPy
        run: python -m build

      # NOTE: We have defined https://github.com/geoschem/gcpy
      # as a Trusted Publisher for geoschem-gcpy at PyPI.org
      - name: Publish geoschem-gcpy
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          skip-existing: true
